/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

section.cont1, .nosotros, .formulario {
  display: flex;
  justify-content: center;
  align-items: center; }

/* estilos de Header */
header {
  background-color: #ffe4c4;
  font-family: 'Fira Sans', sans-serif; }
  header nav div .navbar-brand {
    padding-top: 5px;
    margin: 10px;
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 0.7px saddlebrown; }
  header nav div div ul li {
    text-align: center;
    font-size: 15px;
    padding: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(233, 166, 108, 0.952); }

/* estilos de Main */
.banner {
  min-height: calc(100vh - 160px);
  background-image: url(../img/recordar-aprender-a-aprender.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  padding: 45px; }
  .banner .contenedor h1 {
    font-size: 40px;
    animation-name: fade-right;
    animation-duration: 2s; }

@keyframes fade-right {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .banner .contenedor p {
    font-size: 19px;
    animation-name: fade-right;
    animation-duration: 4s; }

@keyframes fade-right {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*  estilos de Footer */
footer {
  text-align: center;
  padding-top: 10px;
  font-family: 'Fira Sans', sans-serif;
  background-color: #ffe4c4;
  font-size: 14px; }
  footer .footerblock {
    padding-bottom: 10px; }

section.cont1, .nosotros, .formulario {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Para html NOSOTROS */
section.cont1 {
  height: 100px;
  background-color: rgba(143, 221, 195, 0.849);
  margin-top: 5px;
  font-weight: 800; }

.nosotros {
  flex-wrap: wrap;
  min-height: calc(100vh - 160px);
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px; }
  .nosotros .nos1 {
    width: 250px; }
  .nosotros .nos2 {
    width: 250px; }

section.cont1, .nosotros, .formulario {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Para html SERVICIOS */
.mainserv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
  gap: 1rem;
  margin: 2rem 2rem 2rem 2rem;
  min-height: calc(100vh - 160px); }
  .mainserv div img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

section.cont1, .nosotros, .formulario {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Para html IDIOMAS */
.main-idiomas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 6, 1fr;
  margin: 2rem 2rem 2rem 2rem;
  row-gap: 10px;
  min-height: calc(100vh - 160px);
  text-align: center; }
  .main-idiomas div {
    border-radius: 3px; }
    .main-idiomas div h2 {
      font-size: 20px;
      padding-top: 13px; }
  .main-idiomas .caja1 {
    color: white;
    background-size: cover;
    background-position: center center;
    text-shadow: 1px 1px 2px black;
    background-image: url(../img/buenos-aires.jpg); }
  .main-idiomas .caja2 {
    font-weight: 800;
    color: white;
    background-size: cover;
    background-position: center center;
    text-shadow: 1px 1px 2px black;
    background-image: url(../img/museo-louvre.jpg); }
  .main-idiomas .caja3 {
    color: white;
    background-size: cover;
    background-position: center center;
    text-shadow: 1px 1px 2px black;
    background-image: url(../img/bing-bang.jpg); }
  .main-idiomas .caja4 {
    color: white;
    background-size: cover;
    background-position: center center;
    text-shadow: 1px 1px 2px black;
    background-image: url(../img/rio-de-janeiro.jpg); }
  .main-idiomas .caja5 {
    background-color: #a5a5a5; }
  .main-idiomas .caja6 {
    background-color: #7a6dc5; }
    .main-idiomas .caja6 h2 a {
      text-decoration: none;
      color: black; }

section.cont1, .nosotros, .formulario {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Para html CONTACTO */
.formulario .formulario-contacto {
  background-color: rgba(244, 165, 96, 0.781);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  width: 80%;
  border-radius: 10%; }
  .formulario .formulario-contacto .form-comunicate {
    color: saddlebrown;
    font-size: 30px;
    font-weight: 600;
    text-align: center; }
  .formulario .formulario-contacto .col-md-5 {
    padding-bottom: 17px; }

section.cont1, .nosotros, .formulario {
  display: flex;
  justify-content: center;
  align-items: center; }

/* mq 768px para arriba */
@media (min-width: 768px) {
  .contenedor {
    width: 600px; }
  /* html NOSOTROS */
  .nosotros {
    gap: 80px; }
    .nosotros .nos1 {
      width: 310px; }
    .nosotros .nos2 {
      width: 310px; }
  /* Para html SERVICIOS */
  .mainserv {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    column-gap: 2rem; }
  /* Para html IDIOMAS */
  .main-idiomas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% 40% 15%;
    row-gap: 10px;
    column-gap: 10px;
    margin: 5rem;
    align-content: center;
    text-align: center; }
    .main-idiomas .caja1 h2, .main-idiomas .caja2 h2, .main-idiomas .caja3 h2, .main-idiomas .caja4 h2 {
      font-size: 25px;
      padding-top: 55px; }
    .main-idiomas .caja5 h2, .main-idiomas .caja6 h2 {
      padding-top: 15px; }
  /* Para HTML CONTACTO */
  .formulario .formulario-contacto {
    width: 60%; } }

@media (min-width: 1000px) {
  /* html NOSOTROS */
  .nosotros {
    gap: 100px; }
    .nosotros .nos1 {
      width: 400px; }
    .nosotros .nos2 {
      width: 400px; }
  /* Para html SERVICIOS */
  .mainserv {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 0.3fr;
    grid-template-areas: "cuadro1 cuadro2 cuadro3" "foto1 foto2 foto3";
    column-gap: 2rem; }
    .mainserv .cuadro1 {
      grid-area: cuadro1; }
    .mainserv .cuadro2 {
      grid-area: foto1; }
    .mainserv .cuadro3 {
      grid-area: cuadro2; }
    .mainserv .cuadro4 {
      grid-area: foto2; }
    .mainserv .cuadro5 {
      grid-area: cuadro3; }
    .mainserv .cuadro6 {
      grid-area: foto3; }
  /* Para html IDIOMAS */
  .main-idiomas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 10%;
    margin: 4rem;
    row-gap: 10px;
    column-gap: 10px;
    text-align: center; }
    .main-idiomas .caja1 h2, .main-idiomas .caja2 h2, .main-idiomas .caja3 h2, .main-idiomas .caja4 h2 {
      font-size: 35px;
      padding-top: 90px; }
    .main-idiomas .caja5, .main-idiomas .caja6 {
      grid-column: span 2; }
      .main-idiomas .caja5 h2, .main-idiomas .caja6 h2 {
        font-size: 20px;
        padding-top: 8px; }
  /* Para HTML CONTACTO */
  .formulario .formulario-contacto {
    width: 40%; } }
