/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html INDEX */
/* estilos de Header */

header{
    background-color: #ffe4c4;
    font-family: 'Fira Sans', sans-serif;
}

.navbar-brand{
    padding-top: 5px;
    margin: 10px;
    font-weight: 800;
    -webkit-text-stroke: 0.7px saddlebrown;
}

header nav ul li{

    text-align: center;
    font-size: 15px;
    padding: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(233, 166, 108, 0.952);
}

/* estilos de Main */

main{
    min-height: calc(100vh - 160px);
}

.banner{
    background-image: url(../img/recordar-aprender-a-aprender.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    padding: 45px
}

.contenedor h2{
    font-size: 40px;
}

.contenedor p{
    font-size: 19px;
}

/* Para html NOSOTROS */

section.cont1{
    height: 100px;
    background-color: rgba(143, 221, 195, 0.849);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-weight: 800;
}

.nosotros{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin-top: 50px;
margin-bottom: 50px;
gap: 20px
}

.nos1{
    width: 250px;
}

.nos2{
    width: 250px;
}

/* Para html SERVICIOS */

.mainserv div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mainserv{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    gap: 1rem;
    margin: 2rem 2rem 2rem 2rem;
    min-height: calc(100vh - 160px);
}

/* Para html IDIOMAS */

.laCaja{
    margin-top: 50px;
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.caja1{
    background-color: greenyellow;
    width: 200px;
    height: 60px;
    margin-left: 15px;
}

.caja1{
    padding-top: 15px;
}

.caja2{
    background-color: rgb(162, 208, 226);
    width: 200px;
    height: 60px;
    margin-left: 15px;
}

.caja2{
    padding-top: 15px;
}

.caja3{
    background-color: rgb(235, 165, 235);
    width: 200px;
    height: 60px;
    margin-left: 15px;
}

.caja3{
    padding-top: 15px;
}

.caja4{
    background-color: rgb(231, 168, 139);
    width: 200px;
    height: 60px;
    margin-left: 15px;
}

.caja4{
    padding-top: 15px;
}

main div.laCaja2 div.caja6 h3 a{
    text-decoration: none;
    color: black;
}

.laCaja2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center; 
    margin-bottom: 50px;;  
}

.caja5{
    background-color: rgb(165, 165, 165);
    width: 200px;
    height: 60px;
    margin-left: 15px;
}

.caja6{
    background-color: rgb(122, 109, 197);
    width: 200px;
    height: 60px;
    margin-left: 15px;
}

/* Para html CONTACTO */

.elForm{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}

.elForm h2{
    color: brown;
}

main form.elForm h2{
    padding-left: 10px;
}

.formulario{
    padding-left: 20px;
    padding-bottom: 30px;
}

.form1{
    padding-top: 30px;
}

.form2{
    padding-top: 20px;
}

.form3{
    padding-top: 20px;
}

.form4{
    padding-top: 20px;
}

.form5{
    padding-top: 20px;
}

.form6{
    padding-top: 20px;
}

/*  estilos de Footer */

footer{
    text-align: center;
    padding-top: 10px;
    font-family: 'Fira Sans', sans-serif;
    background-color: bisque;
    font-size: 14px;
}

.footerblock{
    padding-bottom: 10px;
}

/* mq 768px para arriba */

@media (min-width: 768px) {
    body{
        background-color: purple;
    }

    .contenedor{
        width: 600px;
    }

    /* html NOSOTROS */

    .nosotros{
        gap: 80px
        }
        
        .nos1{
            width: 310px;
        }
        
        .nos2{
            width: 310px;
        }

    /* Para html SERVICIOS */

    .mainserv{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.3fr 0.3fr 0.3fr;
        column-gap: 2rem;
    }
    }

    @media (min-width: 1000px) {
        body{
            background-color: tomato;
        }
    
        /* html NOSOTROS */
    
        .nosotros{
            gap: 100px
            }
            
            .nos1{
                width: 400px;
            }
            
            .nos2{
                width: 400px;
            }

    /* Para html SERVICIOS */

    .mainserv{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.3fr 0.3fr;
        column-gap: 2rem;
    }


        }
