// utilidades importadas

@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* Para html CONTACTO */

/* Para html CONTACTO */

.cont1{
    h1{
        font-family: 'Fira Sans', sans-serif;
        font-weight: 900;
    }
}
.formulario{
    @extend %usual-flex;
    .formulario-contacto{
        background-color: white;
        box-shadow: 0 0 20px black;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
        width: 80%;
        border-radius: 5%;
        div{
            input{
            background-color: rgba(175, 234, 236, 0.185);
            border-radius: 5px;
            }
            textarea{
            background-color: rgba(175, 234, 236, 0.185);
            border-radius: 20px;
            }
            .boton-active{
                display: flex;
                justify-content: center;
                #boton{
                    padding-left: 30px;
                    padding-right: 30px;
                    color: white;
                    border: 0;
                    border-radius: 20px;
                    background: linear-gradient(45deg, $color-heafoo 15%, $color-secundario 80%);
                    background-size: 130% 130%;
                    animation: color 4s ease-in-out infinite;
                    box-shadow: 0 0 15px rgba(21, 64, 71, 0.808);
                    font-weight: 700;
                    cursor: pointer;
                }
                @keyframes color {
                    0%{
                        background-position: 0 50%;
                    }
                    50%{
                        background-position: 100% 50%;
                    }
                    100%{
                        background-position: 0 50%;
                    }                    
                }             
            }     
        }
        .form-comunicate{
            color: #042e30c5;
            font-size: 26px;
            font-weight: 600;
            p{
                text-shadow: 2px 2px 5px rgba(172, 180, 180, 0.808);
                width: 100%;
                letter-spacing: 5px;
                white-space: nowrap;
                overflow: hidden;
                animation: 
                    typing 2s,
                    cursor .4s step-end infinite alternate;              
            }
            /*typing effect*/
            @keyframes typing {
                from { width: 0 }
            }
        }
        .col-md-5{
            padding-bottom: 17px;
        }
    }
}







