// utilidades importadas

@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* Para html CONTACTO */

/* Para html CONTACTO */

.formulario{
    @extend %usual-flex;
    .formulario-contacto{
        background-color: white;
        box-shadow: 0 0 20px black;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
        width: 80%;
        border-radius: 5%;
        div{
            input{
            background-color: rgba(175, 234, 236, 0.185);
            border-radius: 20px;
            }
            textarea{
            background-color: rgba(175, 234, 236, 0.185);
            border-radius: 20px;
            }
            .boton-active{
                display: flex;
                justify-content: center;
                #boton{
                    padding-left: 30px;
                    padding-right: 30px;
                    color: white;
                    border: 0;
                    border-radius: 20px;
                    background: linear-gradient(to right, rgb(107, 207, 207), $color-heafoo 70%);
                    box-shadow: 0 0 15px rgba(21, 64, 71, 0.808);
                    font-weight: 700;
                    cursor: pointer;
                }                 
            }     
        }
        .form-comunicate{
            color: rgb(107, 207, 207);
            font-size: 26px;
            font-weight: 600;
            text-align: center;
        }
        .col-md-5{
            padding-bottom: 17px;
        }
    }
}







