// utilidades importadas

@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* Para html IDIOMAS */

.main-idiomas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (6, 1fr);
    margin: 2rem 2rem 2rem 2rem;
    row-gap: 10px;
    min-height: calc(100vh - 160px);
    text-align: center;
    div{
        h3{
            font-size: 20px;
            padding-top: 13px;
        }
    }
    .caja1{
        background-color: greenyellow;
    }
    .caja2{
    background-color: rgb(162, 208, 226);
    }
    .caja3{
        background-color: rgb(235, 165, 235);
    }
    .caja4{
        background-color: rgb(231, 168, 139);
    }
    .caja5{
        background-color: rgb(165, 165, 165);
    }
    .caja6{
        background-color: rgb(122, 109, 197);
        h3{
            a{
                text-decoration: none;
                color: black;  
            }
        }
    }
}
