// utilidades importadas

@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* Para html IDIOMAS */

.main-idiomas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (6, 1fr);
    margin: 2rem 2rem 2rem 2rem;
    row-gap: 10px;
    min-height: calc(100vh - 160px);
    text-align: center;
    div{
        border-radius: 3px;
        h2{
            font-size: 20px;
            padding-top: 13px;
        }
    }
    .caja1{
        @include idiomas-cajas (url(../img/buenos-aires.jpg));
    }
    .caja2{
        font-weight: 800;
        @include idiomas-cajas (url(../img/museo-louvre.jpg));
    }
    .caja3{
        @include idiomas-cajas (url(../img/bing-bang.jpg));
    }
    .caja4{
        @include idiomas-cajas (url(../img/rio-de-janeiro.jpg));
    }
    .caja5{
        background-color: rgb(165, 165, 165);
    }
    .caja6{
        background-color: rgb(122, 109, 197);
        h2{
            a{
                text-decoration: none;
                color: black;  
            }
        }
    }
}
