// utilidades importadas

    @import "../utilidades/variables";
    @import "../utilidades/mixin";
    @import "../utilidades/extend";

/* estilos de Header */

header{
    background-color: $color-heafoo;
    font-family: 'Fira Sans', sans-serif;
    nav{
        div{
            .navbar-brand{
                padding-top: 5px;
                margin: 10px;
                font-weight: 700;
                color: white;
            }
            .navbar-toggler{
                border: 1px solid $color-secundario;
                .navbar-toggler-icon{
                }
            }
            div{
                ul{
                    li{
                        text-align: center;
                        font-size: 15px;
                        padding: 1px;
                        margin-left: 10px;
                        margin-right: 10px;
                        border-radius: 10px;
                        background-color: #17252a;
                        border: 1px solid $color-secundario;                          
                    }
                    .nav-item, .nav-link{
                        color: $color-secundario;
                    }
                    .nav-link:hover{
                        background-color: $color-secundario;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

/* estilos de Main */

.banner{
    min-height: calc(100vh - 160px);
    background-image: url(../img/recordar-aprender-a-aprender.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    padding: 45px;
    .contenedor{
        h1{
            @include animation-main (40px, 2s);
        }
        p{
            @include animation-main (19px, 4s);
        }
    }
}

/*  estilos de Footer */

footer{
    text-align: center;
    padding-top: 10px;
    font-family: 'Fira Sans', sans-serif;
    background-color: $color-heafoo;
    color: white;
    font-size: 14px;
    .footerblock{
        padding-bottom: 10px;
        a{
            svg{
                color: $color-secundario;
            }
            .icon-fbk{
                margin-right: 5px;
            }
        }
    }
}
