// utilidades importadas

    @import "../utilidades/variables";
    @import "../utilidades/mixin";
    @import "../utilidades/extend";

/* estilos de Header */

header{
    background-color: $color-heafoo;
    font-family: 'Fira Sans', sans-serif;
    nav{
        div{
            .navbar-brand{
                padding-top: 5px;
                margin: 10px;
                font-weight: 800;
                color: white;
                -webkit-text-stroke: 0.7px saddlebrown;  
            }
            button{
                span{}
            }
            div{
                ul{
                    li{
                        text-align: center;
                        font-size: 15px;
                        padding: 1px;
                        margin-left: 10px;
                        margin-right: 10px;
                        border-radius: 10px;
                        background-color: rgba(233, 166, 108, 0.952);
                        a{}
                    }
                }
            }
        }
    }
}

/* estilos de Main */

.banner{
    min-height: calc(100vh - 160px);
    background-image: url(../img/recordar-aprender-a-aprender.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    padding: 45px;
    .contenedor{
        h1{
            font-size: 40px;
            animation-name: fade-right;
            animation-duration: 2s;
        }
        @keyframes fade-right {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
        p{
            font-size: 19px;
            animation-name: fade-right;
            animation-duration: 4s;
        }
        @keyframes fade-right {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
    }
}

/*  estilos de Footer */

footer{
    text-align: center;
    padding-top: 10px;
    font-family: 'Fira Sans', sans-serif;
    background-color: bisque;
    font-size: 14px;
    div{
        p{}
    }
    .footerblock{
        padding-bottom: 10px;
        a{
            svg{}
        }

    }
}
