// utilidades importadas

@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* Para html NOSOTROS */

section.cont1{
    height: 100px;
    background-color: $color-secundario;
    @extend %usual-flex;
    margin-top: 5px;
    font-weight: 800;
}
.nosotros{
    @extend %usual-flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 160px);
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
    .nos1{
        @extend %nos;
        h2{
            @extend %animation-mover;
        }
        p{
            @extend %animation-fade-rgt;
        }
    }
    .nos2{
        @extend %nos;
        h2{
            @extend %animation-mover;
        }
        p{
            @extend %animation-fade-rgt;
        }
    }
}
