// utilidades importadas

@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* Para html NOSOTROS */

section.cont1{
    height: 100px;
    background-color: $color-secundario;
    @extend %usual-flex;
    margin-top: 5px;
    font-weight: 800;
}
.nosotros{
    @extend %usual-flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 160px);
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
    .nos1{
        width: 250px;
        text-align: justify;
        h2{
            animation: mover-dere-izq 4s 1;
        }
        p{
            animation-name: fade-rgt;
            animation-duration: 6s; 
        }
        @keyframes mover-dere-izq {
            from{
                transform: translateX(100px);
            }
            to{
                transform: translateX(-5px);
            }
        }
        @keyframes fade-rgt {
            from{
                opacity: 0%;
            }
            to{
                opacity: 100%;
            }
        }
    }
    .nos2{
        width: 250px;
        text-align: justify;
        h2{
            animation: mover-dere-izq 4s 1;
        }
        p{
            animation-name: fade-rgt;
            animation-duration: 6s; 
        }
        @keyframes mover-dere-izq {
            from{
                transform: translateX(100px);
                opacity: 0;
            }
            to{
                transform: translateX(-5px);
                opacity: 100px;
            }
        }
        @keyframes fade-rgt {
            from{
                opacity: 0%;
            }
            to{
                opacity: 100%;
            }
        }
    }
}
